.header{
    display: flex;
    justify-content: space-evenly;
    height: 4rem;
    background-color: #282c34;
    border-bottom: solid 1px #61dafb;
    
}
div{
    margin: 0%;
    align-self: center;
}
.NBA-logo{
    height: 4rem;
    padding: 0%;
}
.ListaNav{
    display: flex;
    list-style-type: none;
    padding: 0%;
    
}
li{
    padding: 0%;
    text-align: end;
    
}
a{
    padding: 0%;
    margin-left: 1em ;
    text-decoration: none;
    color: #006bb7;
}





