.header{
    display: flex;
    justify-content: space-around;
    height: 4rem;
    background-color: #282c34;
    border-bottom: solid 1px #61dafb;
}
.NBA-logo{
    height: 4rem;
    
}
.ListaNav{
    display: flex;
    list-style-type: none;
}
a{
    margin-left: 1em ;
    text-decoration: none;
    color: #006bb7;
}
.cartIcon{
    font-size: 2rem;
    margin-top: auto;
    margin-bottom: auto;
    color: #ed174b;
    cursor: pointer;
    
}




