.header{
    display: flex;
    justify-content: space-evenly;
    height: 4.5rem;
    background-color: #282c34;
    border-bottom: solid 1px #61dafb;  
}
div{
  align-self: center;
}
.NBA-icon{
    height: 4rem;
}
.navList{
    display: flex;
    list-style-type: none;
    padding: 0%;
    
}
a{
    padding: 0%;
    margin-left: 1em ;
    text-decoration: none;
    color: #006bb7;
}





