.divDetail{
    /* border: solid 1px #61dafb; */
    padding: 7rem;
}
.cardDetail{
    display: flex;
    justify-content: center;
}
.imgDetail{
    padding: 0%;
    margin: 1.5rem;
}
.detail{
    padding: 0%;
    margin: 1.5rem;
    text-align: center;
    color: whitesmoke;
}
p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
}