.containerItemList{
    background-color: #282c34;
}
.divProd{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
h1{
    color: #ed174b;
    text-align: center;
    margin: 2rem;
    padding: 1rem;
}